# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\personal\spring-configuration-metadata2markdown\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
